import {LiteserverConfig} from ""./interfaces/liteserver-config.interface";

export const TELEGRAM_BOT_API_TOKEN = '';

export const RAINBOW_AG_AUTH_HEADER = '';

export const HETZNER_LITESERVER_CONFIG: LiteserverConfig = {};
